.shippingContainer {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}


.shippingBox {
    width: 25vw;
    height: 90vh;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

.shippingHeading {
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 1.3vmax "Roboto";
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    margin: auto;
    padding: 0 0 10px 0;
}

.shippingForm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    padding: 2vmax;
    height: 80%;
    transition: all 0.5s;
}

.shippingForm>div {
    display: flex;
    width: 100%;
    align-items: center;
}

.shippingForm>div>input,
.shippingForm>div>select {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}

.shippingForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}

.shippingBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 1vmax "Roboto";
    width: 100%;
    padding: 1vmax;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    margin: 2vmax;
}

.shippingBtn:hover {
    background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
    .shippingBox {
        width: 90vw;
        height: 90vh;
    }

    .shippingHeading {
        font: 500 3.3vmax "Roboto";
        margin: 20px auto 0;
        width: 70%;
        padding: 0 0 6px 0;
    }

    .shippingForm>div>input,
    .shippingForm>div>select {
        padding: 2vmax 5.5vmax;
        padding-right: 1vmax;
        font: 300 2vmax cursive;
    }

    .shippingForm>div>svg {
        font-size: 3.6vmax;
    }

    .shippingBtn {
        font: 300 3vmax "Roboto";
    }
}