.updateOrderForm {
    margin: 5vmax 0;
    padding: 3vmax;
    background-color: #fff;
}


.updateOrderForm>div {
    display: flex;
    width: 100%;
    align-items: center;
}

.updateOrderForm>div>select {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    margin: 2rem 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}

.updateOrderForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}

#createProductBtn {
    border: none;
    font: 300 0.9vmax "Roboto";
    background-color: tomato;
    color: white;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

#createProductBtn:hover {
    background-color: rgb(176, 66, 46);
}


/* MEDIA QUERY */
@media screen and (max-width: 600px) {
    .updateOrderForm {
        padding: 5vmax;
    }

    .updateOrderForm>div>select {
        padding: 2.5vmax 5vmax;
        font: 300 2vmax cursive;
    }

    .updateOrderForm>div>svg {
        font-size: 2.8vmax;
    }

    #createProductBtn {
        font: 300 1.8vmax "Roboto";
        padding: 1.8vmax;
    }
}